.list-Element{
  /*background-color: wheat; */
  height: 100px; border-radius: 25px;
  --tw-bg-opacity: 1;
  border-color: black;
  border-width:1px;
  /*background-color:rgb(24 24 32/var(--tw-bg-opacity));*/
  background-color:white;
  margin-left:1%;
}


.text-brand-white-400\/80 {
  color:rgb(140 140 158/.8)
}

.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left:calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}


.dropdown-filter{
  max-height: 30px;
  line-height: 30px;
}
