<div class="container-lg pt-xxl-5" style=" overflow: auto; height: 80%" (scroll)="onScroll($event)">

  <div class="col-xs-auto col-md-auto col-lg-auto row" align="center" style="">

    <ul class="list-group list-group-flush" style="display: inline-block;">
      <div class="justify-content-end" style="min-width:70%; max-width: fit-content;">
        <div class="max-w-xl justify-content-start" style="">
          <h1 class="text-[40px] font-medium leading-snug"><span>Upcoming NFT Drops</span></h1>
          <h2 class="text-gray-700">Solana is a high-performance blockchain supporting builders around the world
            creating crypto apps that scale today.</h2>
          <button routerLink="/volumes">TEST</button>
        </div>


        <!--        table-->
        <div class="container-sm overflow-auto 2xl:overflow-hidden monitor_scrollbar__5fhVO"
             style="border-radius:10px; margin-top:60px; margin-bottom:60px">
          <div class="btn-group" role="group" data-toggle="button">
            <button class="btn btn-secondary" (click)="loadVolumeChanges('volume_24h','desc','Solana')">
              <img src="assets/solana-sol-icon.svg" width="30"/>
            </button>
            <button class="btn btn-secondary" (click)="loadVolumeChanges('volume_24h','desc','Ethereum')">
              <img src="assets/ethereum-eth-icon.svg" width="30"/>
            </button>
            <button class="btn btn-secondary" (click)="loadVolumeChanges('volume_24h','desc','Polygon')">
              <img src="assets/polygon-matic-icon.svg" width="30"/>
            </button>
          </div>


          <table class="w-full bg-white ">
            <thead class="border-b border-[#313141]">

            <tr class="bg-test">
              <th scope="col"
                  class="z-10 sticky -left-1 bg-test min-w-[32px] py-3 pl-1.5 text-xs font-semibold whitespace-nowrap leading-none text-center text-black">
                #
              </th>
              <th data-fixed="left" data-left="0" scope="col"
                  class="z-10 sticky left-7 py-3.5 bg-test px-4 text-xs font-semibold whitespace-nowrap leading-none text-left text-black">
                Name
              </th>
              <!-- <td scope="col" class="false sticky -top-1 z-[5]">
                <div role="button" tabindex="-1"
                     class="nextui-c-ftJsHY nextui-c-ftJsHY-iPJLV-css nextui-tooltip-button w-max ml-auto !block">
                  <div
                    class="py-3.5 px-6 text-xs font-semibold whitespace-nowrap leading-none flex space-x-0.5 text-black">
                    <span>Market Cap</span></div>
                </div>
              </td> -->
              <td scope="col" class="hover:opacity-80 cursor-pointer sticky -top-1 z-[5]">
                <div role="button" tabindex="-1"
                     class="nextui-c-ftJsHY nextui-c-ftJsHY-iPJLV-css nextui-tooltip-button w-max ml-auto !block">
                  <div
                    class="py-3.5 px-6 text-xs font-semibold whitespace-nowrap leading-none flex space-x-0.5 text-black">
                    <span>Price</span></div>
                </div>
              </td>
              <td scope="col" class="hover:opacity-80 cursor-pointer sticky -top-1 z-[5]" style="background-color:red" (click)="onVolumesSort('price_24h')">
                <div role="button" tabindex="-1"
                     class="nextui-c-ftJsHY nextui-c-ftJsHY-iPJLV-css nextui-tooltip-button w-max ml-auto !block">
                  <div
                    class="py-3.5 px-6 text-xs font-semibold whitespace-nowrap leading-none flex space-x-0.5 text-black">
                    <span>24h %</span></div>
                </div>
              </td>
              <td scope="col" class="hover:opacity-80 cursor-pointer sticky -top-1 z-[5]" (click)="onVolumesSort('price_7d')">
                <div role="button" tabindex="-1"
                     class="nextui-c-ftJsHY nextui-c-ftJsHY-iPJLV-css nextui-tooltip-button w-max ml-auto !block">
                  <div
                    class="py-3.5 px-6 text-xs font-semibold whitespace-nowrap leading-none flex space-x-0.5 text-black">
                    <span>7d %</span></div>
                </div>
              </td>
              <td scope="col" class="hover:opacity-80 cursor-pointer sticky -top-1 z-[5]" (click)="onVolumesSort('price_30d')">
                <div role="button" tabindex="-1"
                     class="nextui-c-ftJsHY nextui-c-ftJsHY-iPJLV-css nextui-tooltip-button w-max ml-auto !block">
                  <div
                    class="py-3.5 px-6 text-xs font-semibold whitespace-nowrap leading-none flex space-x-0.5 text-black">
                    <span>30d %</span></div>
                </div>
              </td>
              <td scope="col" class="hover:opacity-80 cursor-pointer sticky -top-1 z-[5]">
                <div role="button" tabindex="-1"
                     class="nextui-c-ftJsHY nextui-c-ftJsHY-iPJLV-css nextui-tooltip-button w-max ml-auto !block">
                  <div
                    class="py-3.5 px-6 text-xs font-semibold whitespace-nowrap leading-none flex space-x-0.5 text-black">
                    <span>Listed</span></div>
                </div>
              </td>
              <td scope="col" class="false sticky -top-1 z-[5]">
                <div role="button" tabindex="-1"
                     class="nextui-c-ftJsHY nextui-c-ftJsHY-iPJLV-css nextui-tooltip-button w-max ml-auto !block">
                  <div
                    class="py-3.5 px-6 text-xs font-semibold whitespace-nowrap leading-none flex space-x-0.5 text-black">
                    <span>Listed %</span></div>
                </div>
              </td>
              <td scope="col" class="hover:opacity-80 cursor-pointer sticky -top-1 z-[5]" (click)="onVolumesSort('volume_24h')">
                <div role="button" tabindex="-1"
                     class="nextui-c-ftJsHY nextui-c-ftJsHY-iPJLV-css nextui-tooltip-button w-max ml-auto !block !-ml-2">
                  <div
                    class="py-3.5 px-6 text-xs font-semibold whitespace-nowrap leading-none flex space-x-0.5 text-black">
                    <span>Volume</span></div>
                </div>
              </td>
              <td scope="col" class="hover:opacity-80 cursor-pointer sticky -top-1 z-[5]" (click)="onVolumesSort('volume_24h')">
                <div role="button" tabindex="-1"
                     class="nextui-c-ftJsHY nextui-c-ftJsHY-iPJLV-css nextui-tooltip-button w-max ml-auto !block">
                  <div
                    class="py-3.5 px-6 text-xs font-semibold whitespace-nowrap leading-none flex space-x-0.5 text-black">
                    <span>Vol. 24h</span>
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em"
                         width="1em" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M840.4 300H183.6c-19.7 0-30.7 20.8-18.5 35l328.4 380.8c9.4 10.9 27.5 10.9 37 0L858.9 335c12.2-14.2 1.2-35-18.5-35z"></path>
                    </svg>
                  </div>
                </div>
              </td>
              <th scope="col"
                  class="sticky -top-1 z-[5] py-3.5 px-6 text-xs font-semibold whitespace-nowrap leading-none text-right text-black">
                Last 7 Days
              </th>
            </tr>
            </thead>


            <tbody>
            <!--            <li *ngFor="let volume of volumes">-->
            <tr class="bg-test" *ngFor="let volume of volumes">
              <th class="sticky -left-1 bg-test z-40 font-normal "><span class="">{{volumes.indexOf(volume)+1}}</span></th>

              <td
                class="sticky 2xl:relative left-7 2xl:left-0 z-10 bg-test 2xl:bg-transparent py-0.5 px-4 font-medium text-sm whitespace-nowrap text-black">
                <a class="flex items-center h-full space-x-3 hover:opacity-80 transition-all" href="/nft/abc-470">
                  <div class="flex items-center"><span
                    style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 40px; height: 40px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                    <img
                      alt="" aria-hidden="true"
                      src={{volume.collection_image_link}}
                      onerror="this.onerror=null; this.src='assets/discord.svg';"
                      style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                    <noscript></noscript></span>
                  </div>
                  <div role="button" tabindex="-1"
                       class="nextui-c-ftJsHY nextui-c-ftJsHY-iPJLV-css nextui-tooltip-button"><h4
                    class="flex items-center text-xs xs:text-sm xs:font-semibold group"><span
                    class="whitespace-pre-wrap">{{volume.collection_name}}</span></h4></div>
                </a></td>
              <!-- <td scope="col" class="hover:opacity-80 cursor-pointer sticky -top-1 z-[5]">
                <div role="button" tabindex="-1"
                     class="nextui-c-ftJsHY nextui-c-ftJsHY-iPJLV-css nextui-tooltip-button w-max ml-auto !block">
                  <div
                    class="py-3.5 px-6 text-xs font-semibold whitespace-nowrap leading-none flex space-x-0.5 text-black">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 496 512"
                         class="opacity-80" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm0 432c-101.69 0-184-82.29-184-184 0-101.69 82.29-184 184-184 101.69 0 184 82.29 184 184 0 101.69-82.29 184-184 184zm0-312c-70.69 0-128 57.31-128 128s57.31 128 128 128 128-57.31 128-128-57.31-128-128-128zm0 192c-35.29 0-64-28.71-64-64s28.71-64 64-64 64 28.71 64 64-28.71 64-64 64z"></path>
                    </svg>
                    <span>{{volume.total_volume}}</span></div>
                </div>
              </td> -->
              <td scope="col" class="hover:opacity-80 cursor-pointer sticky -top-1 z-[5]">
                <div role="button" tabindex="-1"
                     class="nextui-c-ftJsHY nextui-c-ftJsHY-iPJLV-css nextui-tooltip-button w-max ml-auto !block">
                  <div
                    class="py-3.5 px-6 text-xs font-semibold whitespace-nowrap leading-none flex space-x-0.5 text-black">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 496 512"
                         class="opacity-80" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm0 432c-101.69 0-184-82.29-184-184 0-101.69 82.29-184 184-184 101.69 0 184 82.29 184 184 0 101.69-82.29 184-184 184zm0-312c-70.69 0-128 57.31-128 128s57.31 128 128 128 128-57.31 128-128-57.31-128-128-128zm0 192c-35.29 0-64-28.71-64-64s28.71-64 64-64 64 28.71 64 64-28.71 64-64 64z"></path>
                    </svg>
                    <span>{{volume.floor_price|price}}</span></div>
                </div>
              </td>
              <td scope="col" class="hover:opacity-80 cursor-pointer sticky -top-1 z-[5]">
                <div role="button" tabindex="-1"
                     class="nextui-c-ftJsHY nextui-c-ftJsHY-iPJLV-css nextui-tooltip-button w-max ml-auto !block">
                  <div
                    class="py-3.5 px-6 text-xs font-semibold whitespace-nowrap leading-none flex space-x-0.5 text-brand-green-100">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                         class="text-base" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5 15h14l-7-8z"></path>
                    </svg>
                    <span>{{volume.price_24h}}</span></div>
                </div>
              </td>
              <td scope="col" class="hover:opacity-80 cursor-pointer sticky -top-1 z-[5]">
                <div role="button" tabindex="-1"
                     class="nextui-c-ftJsHY nextui-c-ftJsHY-iPJLV-css nextui-tooltip-button w-max ml-auto !block">
                  <div
                    class="py-3.5 px-6 text-xs font-semibold whitespace-nowrap leading-none flex space-x-0.5 text-brand-red">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                         class="text-base" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                      <path d="m11.998 17 7-8h-14z"></path>
                    </svg>
                    <span>{{volume.price_7d}}</span></div>
                </div>
              </td>
              <td scope="col" class="hover:opacity-80 cursor-pointer sticky -top-1 z-[5]">
                <div role="button" tabindex="-1"
                     class="nextui-c-ftJsHY nextui-c-ftJsHY-iPJLV-css nextui-tooltip-button w-max ml-auto !block">
                  <div
                    class="py-3.5 px-6 text-xs font-semibold whitespace-nowrap leading-none flex space-x-0.5 text-brand-red">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                         class="text-base" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                      <path d="m11.998 17 7-8h-14z"></path>
                    </svg>
                    <span>{{volume.price_30d}}</span></div>
                </div>
              </td>
              <td scope="col" class="hover:opacity-80 cursor-pointer sticky -top-1 z-[5]">
                <div role="button" tabindex="-1"
                     class="nextui-c-ftJsHY nextui-c-ftJsHY-iPJLV-css nextui-tooltip-button w-max ml-auto !block">
                  <div
                    class="py-3.5 px-6 text-xs font-semibold whitespace-nowrap leading-none flex space-x-0.5 text-black">
                    <span>{{volume.total_supply}}</span></div>
                </div>
              </td>
              <td scope="col" class="false sticky -top-1 z-[5]">
                <div role="button" tabindex="-1"
                     class="nextui-c-ftJsHY nextui-c-ftJsHY-iPJLV-css nextui-tooltip-button w-max ml-auto !block">
                  <div
                    class="py-3.5 px-6 text-xs font-semibold whitespace-nowrap leading-none flex space-x-0.5 text-black">
                    <span>1.19 %</span></div>
                </div>
              </td>
              <td scope="col" class="hover:opacity-80 cursor-pointer sticky -top-1 z-[5]">
                <div role="button" tabindex="-1"
                     class="nextui-c-ftJsHY nextui-c-ftJsHY-iPJLV-css nextui-tooltip-button w-max ml-auto !block">
                  <div
                    class="py-3.5 px-6 text-xs font-semibold whitespace-nowrap leading-none flex space-x-0.5 text-black">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 496 512"
                         class="opacity-80" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm0 432c-101.69 0-184-82.29-184-184 0-101.69 82.29-184 184-184 101.69 0 184 82.29 184 184 0 101.69-82.29 184-184 184zm0-312c-70.69 0-128 57.31-128 128s57.31 128 128 128 128-57.31 128-128-57.31-128-128-128zm0 192c-35.29 0-64-28.71-64-64s28.71-64 64-64 64 28.71 64 64-28.71 64-64 64z"></path>
                    </svg>
                    <span>{{volume.total_volume}}</span></div>
                </div>
              </td>
              <td scope="col" class="hover:opacity-80 cursor-pointer sticky -top-1 z-[5]">
                <div role="button" tabindex="-1"
                     class="nextui-c-ftJsHY nextui-c-ftJsHY-iPJLV-css nextui-tooltip-button w-max ml-auto !block">
                  <div
                    class="py-3.5 px-6 text-xs font-semibold whitespace-nowrap leading-none flex space-x-0.5 text-black">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 496 512"
                         class="opacity-80" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm0 432c-101.69 0-184-82.29-184-184 0-101.69 82.29-184 184-184 101.69 0 184 82.29 184 184 0 101.69-82.29 184-184 184zm0-312c-70.69 0-128 57.31-128 128s57.31 128 128 128 128-57.31 128-128-57.31-128-128-128zm0 192c-35.29 0-64-28.71-64-64s28.71-64 64-64 64 28.71 64 64-28.71 64-64 64z"></path>
                    </svg>
                    <span>{{volume.volume_24h}}</span></div>
                </div>
              </td>
              <th scope="col"
                  class="sticky -top-1 z-[5] py-3.5 px-6 text-xs font-semibold whitespace-nowrap leading-none text-right text-black">
              </th>
            </tr>


            </tbody>
          </table>
        </div>


        <div class="max-w-xl">
          <h1 class="text-[40px] font-medium leading-snug">Upcoming Solana NFT Drops</h1><h4
          class="text-brand-white-500">Solana is a high-performance blockchain supporting builders around the world
          creating crypto apps that scale today.</h4>
        </div>


        <div style="" class="col flex justify-content-start gap-4">
          <p-dropdown [options]="mintsSortValues" [(ngModel)]="currentMintsSortValue" (ngModelChange)="changeMintsSortValue()"
                      [style]="{'max-height':'40px', 'line-height': '15px', 'max-width':'250px','--tw-bg-opacity':1}"></p-dropdown>
          <p-dropdown [options]="mintsFilterBlockchains" [(ngModel)]="currentMintsFilterBlockchain"
                      (ngModelChange)="changeMintsFilterBlockchain()"
                      [style]="{'max-height':'40px', 'line-height': '15px','--tw-bg-opacity':1}"></p-dropdown>
        </div>
        <div style="" class="row flex justify-content-start ">
          <li class="list-group-item my-3 list-Element align-content-center "
              style=" max-width: fit-content;"
              *ngFor="let mint of mints">
            <div style=" height: 90%;" class=" d-flex e">
              <div class="flex w-72 items-center space-x-4">
            <span
              style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
              <span
                style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
                <img
                  style="display:block;max-width:100%;width:60px;height:60px;background:none;opacity:1;border:0;margin:0;padding:0; border-radius: 50%"
                  alt="" aria-hidden="true"
                  src="{{mint.project_img_url}}" onerror="this.onerror=null; this.src='assets/discord.svg';">
              </span>
            </span>

                <div class="space-y-2">
                  <h3 class=" flex items-center space-x-1">
                    <a>{{mint.project_name}}</a>
                  </h3>
                </div>
              </div>
              <div
                class="flex max-w-[1900px] flex-1 justify-between space-x-6 md:space-x-8 lg:space-x-6 xl:space-x-16 py-1.5">
                <div class="flex flex-col space-y-2" style="cursor: pointer; min-width: 100px">
              <span class="flex items-center p-0.5 px-1  text-sm space-x-1" (click)="goToTwitter(mint)">
                <img class="mx-2" src="assets/twitter.svg">
                <span class="">{{mint.twitter_followers|followers}}K</span>
              </span>
                  <span class="flex items-center p-0.5 px-1  text-sm space-x-1" (click)="goToDiscord(mint)"
                        style=" max-width: fit-content">
                <img class="mx-2" src="assets/discord.svg">
                    <span class="">{{mint.twitter_followers|followers}}K</span>
              </span>
                </div>
                <div class="flex flex-col space-y-2">
                  <span class="text-brand-white-400">Blockchain</span>
                  <span class="font-medium">{{mint.blockchain}}</span>
                </div>
                <div class="flex flex-col space-y-2">
                  <span class="text-brand-white-400">Price</span>
                  <div class="font-medium flex items-center space-x-2" style="min-width: max-content">
                    <span *ngIf="mint.blockchain=='Ethereum'" class="opacity-80">Ξ</span>
                    <svg *ngIf="mint.blockchain=='Solana'" stroke="currentColor" fill="currentColor" stroke-width="0"
                         viewBox="0 0 496 512"
                         class="opacity-80"
                         height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm0 432c-101.69 0-184-82.29-184-184 0-101.69 82.29-184 184-184 101.69 0 184 82.29 184 184 0 101.69-82.29 184-184 184zm0-312c-70.69 0-128 57.31-128 128s57.31 128 128 128 128-57.31 128-128-57.31-128-128-128zm0 192c-35.29 0-64-28.71-64-64s28.71-64 64-64 64 28.71 64 64-28.71 64-64 64z"></path>
                    </svg>
                    <span>{{mint.mint_price}}</span></div>
                </div>
                <div class="flex flex-col space-y-2" style="min-width: max-content">
                  <span class="text-brand-white-400">Supply</span><span
                  class="font-medium">{{mint.total_supply}}</span>
                </div>
                <div class="flex flex-col space-y-2" style="min-width: max-content">
                  <span class="text-brand-white-400">Mint Date</span>
                  <span class="font-medium">{{mint.mint_date}}</span>
                </div>
              </div>
            </div>
          </li>
        </div>
      </div>
    </ul>
    <div *ngIf="isLoading" style="min-height:100px">
      <img src="assets/discord-loading-dots-discord-loading.gif" style="width:45px;height:20px;">
    </div>
    <!--        <button  (click)="onScroll($event)" class="bg-black/80 border border-brand-white-600/30 text-white font-semibold py-2 px-5 rounded-full flex items-center justify-center space-x-2 hover:bg-opacity-80 transition-all duration-[50] !bg-transparent hover:!bg-brand-white-600/10">-->
    <!--          <span class="flex items-center space-x-1.5">ПРОГРУЗКА ПИЗДЫ</span>-->
    <!--        </button>-->
  </div>

</div>
